In [1]:
import pandas as pd
import numpy as np

In [77]:
dataframe15 = pd.read_csv('15.csv')
dataframe15 = dataframe15.replace(',', '', regex=True)
dataframe15= dataframe15.astype(float)
dataframe15.head()
dataframe15.tail()

,Index,8 Backcandles,15 Backcandles,30 Backcandles,60 Backcandles,180 Backcandles,Actual Price
509,509.0,2035.38,2095.80,2038.65,NaN,NaN,2089.03
510,510.0,2033.72,2105.61,NaN,NaN,NaN,2135.95
511,511.0,2040.14,2091.70,NaN,NaN,NaN,2135.70
512,512.0,2034.75,2118.16,NaN,NaN,NaN,2151.31
513,513.0,2047.18,NaN,NaN,NaN,NaN,NaN

In [66]:
correlation = dataframe15['8 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.950970789204901

In [30]:


correlation = dataframe15['15 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.8348973781059148

In [31]:


correlation = dataframe15['30 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.9653903417083581

In [32]:


correlation = dataframe15['60 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.799500424766782

In [33]:


correlation = dataframe15['180 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.5507923455149325

In [36]:
dataframe30 = pd.read_csv('30.csv')
dataframe30 = dataframe30.replace(',', '', regex=True)
dataframe30= dataframe30.astype(float)
dataframe30.head()

,Index,8 Backcandles,15 Backcandles,30 Backcandles,60 Backcandles,180 Backcandles,Actual Price
0,0.0,2075.27,2070.61,2081.47,2089.10,2174.18,2111.63
1,1.0,2078.86,2076.77,2084.93,2107.11,2181.47,2105.45
2,2.0,2086.02,2089.45,2092.31,2097.12,2182.83,2109.72
3,3.0,2099.18,2085.55,2066.55,2098.47,2176.60,2120.87
4,4.0,2094.90,2089.86,2068.86,2102.92,2162.43,2089.72

In [35]:
correlation = dataframe30['8 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.9578690452389753

In [38]:
correlation = dataframe30['15 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.9707196980581306

In [39]:
correlation = dataframe30['30 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.9879445757572481

In [40]:
correlation = dataframe30['60 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.759361702842895

In [41]:
correlation = dataframe30['180 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.4657636206689555

In [46]:
dataframe60 = pd.read_csv('60.csv')
dataframe60 = dataframe60.replace(',', '', regex=True)
dataframe60 = dataframe60.replace(']', '', regex=True)
dataframe60= dataframe60.astype(float)
dataframe60.head()

,Index,8 Backcandles,15 Backcandles,30 Backcandles,60 Backcandles,180 Backcandles,Actual Price
0,0.0,2052.52,2053.21,2118.23,2064.55,2143.45,2111.63
1,1.0,2054.86,2059.83,2122.98,2079.79,2158.12,2105.45
2,2.0,2060.83,2072.50,2132.67,2069.91,2163.79,2109.72
3,3.0,2073.04,2068.52,2093.17,2070.53,2164.17,2120.87
4,4.0,2070.06,2072.88,2105.61,2074.17,2153.49,2089.72

In [47]:
correlation = dataframe60['8 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.9568527674275412

In [48]:
correlation = dataframe60['15 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.9692345793270652

In [49]:
correlation = dataframe60['30 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.9890372678346414

In [50]:
correlation = dataframe60['60 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.4831194664706242

In [51]:
correlation = dataframe60['180 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.4033167564900794

In [53]:

dataframe120 = pd.read_csv('120.csv')
dataframe120 = dataframe120.replace(',', '', regex=True)
dataframe120 = dataframe120.replace(']', '', regex=True)
dataframe120= dataframe120.astype(float)
dataframe120.head()

,Index,8 Backcandles,15 Backcandles,30 Backcandles,60 Backcandles,180 Backcandles,Actual Price
0,0.0,2083.76,2058.05,2061.21,2082.99,2158.86,2111.63
1,1.0,2087.11,2065.00,2065.86,2101.91,2182.45,2105.45
2,2.0,2094.30,2078.51,2076.19,2091.06,2197.66,2109.72
3,3.0,2107.22,2073.89,2036.24,2094.94,2204.13,2120.87
4,4.0,2103.95,2077.64,2051.03,2103.04,2199.19,2089.72

In [54]:
correlation = dataframe120['8 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

0.9549117609481568

In [55]:
correlation = dataframe120['15 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

0.9697442549920245

In [56]:
correlation = dataframe120['30 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

0.9902928133818275

In [57]:
correlation = dataframe120['60 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

0.677337322254756

In [58]:
correlation = dataframe120['180 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

-0.3723203480640944

In [60]:
dataframe240 = pd.read_csv('240.csv')
dataframe240 = dataframe240.replace(',', '', regex=True)
dataframe240 = dataframe240.replace(']', '', regex=True)
dataframe240= dataframe240.astype(float)
dataframe240.head()

,Index,8 Backcandles,15 Backcandles,30 Backcandles,60 Backcandles,180 Backcandles,Actual Price
0,0.0,2064.00,2080.61,2089.48,2101.61,2158.68,2111.63
1,1.0,2068.80,2087.86,2093.93,2117.32,2170.75,2105.45
2,2.0,2075.79,2101.02,2104.01,2103.40,2175.54,2109.72
3,3.0,2088.76,2097.01,2061.43,2103.27,2173.70,2120.87
4,4.0,2084.02,2101.13,2075.39,2108.97,2161.72,2089.72

In [61]:
correlation = dataframe240['8 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.9567976251444101

In [62]:
correlation = dataframe240['15 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.969126516749293

In [63]:
correlation = dataframe240['30 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.9897566236093686

In [64]:
correlation = dataframe240['60 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.8552180885212634

In [65]:
correlation = dataframe240['180 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.6488167585456206

In [71]:

correlation = dataframe15['8 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)
correlation = dataframe15['15 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)
correlation = dataframe15['30 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)
correlation = dataframe15['60 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)
correlation = dataframe15['180 Backcandles'].corr(dataframe15['Actual Price'])
print(correlation)

0.950970789204901
0.8348973781059148
0.9653903417083581
0.799500424766782
0.5507923455149325

In [72]:
correlation = dataframe30['8 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)
correlation = dataframe30['15 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)
correlation = dataframe30['30 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)
correlation = dataframe30['60 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)
correlation = dataframe30['180 Backcandles'].corr(dataframe30['Actual Price'])
print(correlation)

0.9578690452389753
0.9707196980581306
0.9879445757572481
0.759361702842895
0.4657636206689555

In [73]:
correlation = dataframe60['8 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)
correlation = dataframe60['15 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)
correlation = dataframe60['30 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)
correlation = dataframe60['60 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)
correlation = dataframe60['180 Backcandles'].corr(dataframe60['Actual Price'])
print(correlation)

0.9568527674275412
0.9692345793270652
0.9890372678346414
0.4831194664706242
0.4033167564900794

In [74]:
correlation = dataframe120['8 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)
correlation = dataframe120['15 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)
correlation = dataframe120['30 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)
correlation = dataframe120['60 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)
correlation = dataframe120['180 Backcandles'].corr(dataframe120['Actual Price'])
print(correlation)

0.9549117609481568
0.9697442549920245
0.9902928133818275
0.677337322254756
-0.3723203480640944

In [75]:
correlation = dataframe240['8 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)
correlation = dataframe240['15 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)
correlation = dataframe240['30 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)
correlation = dataframe240['60 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)
correlation = dataframe240['180 Backcandles'].corr(dataframe240['Actual Price'])
print(correlation)

0.9567976251444101
0.969126516749293
0.9897566236093686
0.8552180885212634
0.6488167585456206